[Desktop Entry]
Type=Application
Name=Project X
Comment=Danube vessel monitoring platform
Exec=AppRun
Icon=projectx
Terminal=false
Categories=Utility;Science;Education;
StartupWMClass=ProjectX
Keywords=vessel;AIS;monitoring;Danube;
X-AppImage-Version=1.0
