[Desktop Entry]
Type=Application
Version=1.0
Name=Project X
GenericName=Maritime Monitoring
Comment=Professional Maritime Monitoring Platform
Exec=AppRun
Icon=projectx
Terminal=false
Categories=Science;
StartupWMClass=ProjectX
Keywords=maritime;vessel;AIS;monitoring;Danube;ships;Project X;
